
h1{
  color:#878787;
  font-size:24px;
  font-weight: 100;
  line-height: 28px;
}
ul{
  margin: 0;
  padding:0;

}
li{
  list-style-type:none;
  margin:0;
  color:rgb(135,135,135);
  font-size: 16px;
  line-height: 28px;
  text-transform: capitalize;
}
li.first-letter{
  text-transform: capitalize;
}
a{
  text-decoration: none;
}

.weather-app-wrapper{
  max-width: 600px;
  margin: 30px auto;

}
.weather-app{

  padding: 20px;
  border: 1px solid rgb(158, 148, 124);
  border-radius: 5px;

}
.overview{
  margin-bottom: 20px;
}
.weather-temperature img{
  margin-right: 6px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong{
  color: rgb(33,33,33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .active{
  color: rgb(33,33,33);
  cursor: default;

}.weather-temperature .active .hover{
  text-decoration: none;
  
}
.form-control{
  text-align: center;
}
.col-6{
  margin-bottom: 10px;
}
#currentBtn {
  margin-top: 5px;
  border: 2px solid rgb(98, 161, 98);
  background-color: rgb(98, 161, 98);
}
#currentBtn:hover {
  margin-top: 5px;
  border: 2px solid rgb(83, 131, 83);
  background-color: rgb(83, 131, 83);
}
#week-
#week-weather{
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  text-align: center;

}
#column-date{
  color:rgb(135,135,135);
  padding-top:8px;
  text-align: center;
  margin:0 auto;
  font-size: 14px;
  transition:all 550ms ease;
}
#column-date:hover{
  color:rgb(73, 73, 73);
  transition: all 450ms ease-in-out;
  background-color: rgba(11, 94, 215,0.12);
  border-radius: 5px;
  padding-bottom:3px;
  
}